<div class="top-bar">

<a href="/articles/new" class="button">Create new</a>

<h1>List of articles</h1>
<div class="articles-list">
<ul>
<% @articles.each do | art |   %>


 <li><%= link_to art.title, art %> 
 
 
 <% end %>
 
 
 </ul>

 </div>

 </div>
